<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Passwordless Denied View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
        <div class="alert alert-danger">
            <h2>Login attempt denied.</h2>
            <p>The mobile push token has been denied by the user. Contact your system administrator if you believe this is an error.</p>
        </div>
        <form method="post" id="fm1" class="fm-v clearfix" th:action="@{/login}">
            <div class="form-group">
                <input type="hidden" name="username" th:if="${passwordlessAccount}"
                       th:value="${passwordlessAccount.username}"/>
                <input class="btn btn-submit" accesskey="l"
                       th:value="BACK" tabindex="4" type="submit"/>
                <input type="hidden" name="_eventId_submit" value="BACK"/>
            </div>
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        </form>
    </div>
</main>
</body>
</html>
