<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">Passwordless Display View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>

    <script type="application/ecmascript">
        window.onload = function () {
            progress(3, 3, $('#resetContainer'))
        };

        const progress = (timeLeft, totalTime, $element) => {
            if(timeLeft > 0) {
                setTimeout(function () {
                    progress(timeLeft - 1, totalTime, $element)
                }, 1000)
            } else {
                document.forms['fm1'].submit();
            }
        }
    </script>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="login">
        <div class="alert alert-info">
            <strong>Disclosure Request Dispatched</strong>
            <p>
                The login request has been dispatched. Please approve the request on your mobile before continuing.</p>
        </div>
        <div class="alert alert-danger alert-dismissible" th:if="${error}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Authentication Failure</strong>
            <p>The provided token could not be verified. It may have been invalidated, removed or expired.</p>
        </div>
        <form method="post" id="fm1" class="fm-v clearfix" th:action="@{/login}">
            <div class="form-group">
                <input type="hidden" name="username" th:if="${passwordlessAccount}"
                       th:value="${passwordlessAccount.username}"/>
                <input class="btn btn-submit" accesskey="l"
                       th:value="#{screen.welcome.button.login}" tabindex="4" type="hidden"/>
                <input type="hidden" name="_eventId_submit" value="LOGIN"/>
            </div>
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        </form>
        <div id="resetContainer">
            <div id="resetTokenBar"></div>
        </div>
    </div>
</main>
</body>

</html>
